.root {
  bottom: 2px;
  color: var(--figma-color-icon-tertiary);
  height: 12px;
  pointer-events: none;
  position: fixed;
  right: 2px;
  width: 12px;
  z-index: var(--z-index-2);
}

.svg {
  display: block;
  height: 12px;
  width: 12px;
}
